.background{
	background: url(../../assets/img/IPP-T.png) 0 0/50% 35% no-repeat;
	opacity: 1.0;
	background-position: center center;
}

.contenido{
	background-color:rgba(0,0,0,0.0) !important;
	font-size: medium;
	color:rgb(0,0,0) !important;
}