<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title style="font-size: large;">Discipulado 1.A.1</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item text-wrap *ngFor="let lec of lecciones" (click)="pushPage(lec.numero)">
    <ion-icon name='document' is-active="false" color="primary">
    </ion-icon>
    <label style="font-size: medium;padding-left: 2px;">
      {{ lec.titulo }}
    </label>
    </ion-item>
  </ion-list>
</ion-content>
