<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title style="font-size: large;"></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" text-center class="page-acercaDe">
  <ion-list no-lines>
    <ion-item text-wrap>
      <div style="text-align:center;width:100%;">
      <label style="font-size:large;font-weight:bold;color: #003153;">
        Iglesia Evangélica del Príncipe de Paz
      </label>
      <br/>
      <table width="100%">
        <tr>
          <td class="tdTable2" style="font-weight: bold;">Isaias 9:6, Con un mensaje de fe y esperanza</td>
        </tr>
        <tr>
          <td class="tdTable2">Colonia Anémona, pasaje 2, casa #10, San Martín, San Salvador, El Salvador</td>
        </tr>
        <tr>
          <td class="tdTable2">Pastor Lic. Noé Nehemías Marroquín</td>
        </tr>
      </table>
      </div>   
    </ion-item>

    <ion-item>
      <div style="text-align: center;">
        <img src="assets/img/IEPP.png" 
        style="width: 75%;" >
      </div>      
    </ion-item>

    <ion-item text-wrap>
      <div style="text-align:left;width:100%;">
      <h2 style="text-align: center;font-weight: bold;">Programación de Cultos</h2>
      
      <br/>
      <table border="1" style="border-color:auto;">
        <tr>
          <td class="tdTable" style="font-weight: bold;">Domingo</td>
          <td class="tdTable">
          08:00 AM - 09:45 AM Culto de Jóvenes, 
          10:00 AM - 12:00 PM Culto General, 
          03:00 PM - 05:00 PM Culto General</td>
        </tr>
        <tr>
          <td class="tdTable" style="font-weight: bold;">Lunes</td>
          <td class="tdTable">05:00 PM - 07:00 PM Culto de oración</td>
        </tr>
        <tr>
          <td class="tdTable" style="font-weight: bold;">Martes</td>
          <td class="tdTable">
            <table>
              <tr>
                <td>
                  08:00 AM Ayuno dirigido por Unión Femenil
                </td>
              </tr>
              <tr>
                <td>
                  &nbsp;
                </td>
              </tr>
              <tr>
                <td>
                  04:00 PM - 06:00 PM Culto de Unión Femenil  
                </td>
              </tr>
            </table>
        </td>
        </tr>
        <tr>
          <td class="tdTable" style="font-weight: bold;">Miércoles</td>
          <td class="tdTable">Red de células</td>
        </tr>
        <tr>
          <td class="tdTable" style="font-weight: bold;">Jueves</td>
          <td class="tdTable">05:00 PM - 07:00 PM Culto de Consejeros</td>
        </tr>
        <tr>
          <td class="tdTable" style="font-weight: bold;">Viernes</td>
          <td class="tdTable">Red de células</td>
        </tr>
        <tr>
          <td class="tdTable" style="font-weight: bold;">Sábado</td>
          <td class="tdTable">
            <table>
              <tr>
                <td>
                  01:30 PM - 06:00 PM Evangelismo y Discipulado
                </td>
              </tr>
              <tr>
                <td>
                  &nbsp;
                </td>
              </tr>
              <tr>
                <td>
                  Red de células
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
      </div>   
    </ion-item>

    <ion-item text-wrap style="vertical-align: middle;">
      <div style="text-align:center;width:100%;font-size:medium;font-weight:bold;color: #003153;">
        <a style="text-decoration: none;" href="https://www.facebook.com/ipp.sanmartin7" target="_blank">
          <ion-icon name="logo-facebook"></ion-icon>
          &nbsp;  
          IPP San Martín
        </a>
      </div>   
    </ion-item>

    <ion-item>
      <div style="text-align: right;font-size: small;">
        <label>© Ismael Recinos</label>
        <br>
        <label>Versión: 2.0.10</label>
      </div>
    </ion-item>
  </ion-list>
</ion-content>