.page-acercaDe {
	.tdTable{
		padding-right: 5px;padding-left: 5px;padding-top: 5px;padding-bottom: 5px;
	}
	.tdTable2{
		padding-right: 2px;padding-left: 2px;padding-top: 2px;padding-bottom: 2px;
	}
}