.background{
    background: url(../../assets/img/IPP-T.png) 0 0/50% 35% no-repeat;
    opacity: 1.0;
    background-position: center center;
}

.contenido{
    text-align: justify !important;
    font-size: large;
}