.tituloDinamica{
    font-size: large;
    text-align:center;
    font-weight: bold;
    width:100%;
}

.subTituloDinamica{
    font-weight:bold;
}

.contenidoDimanica{
    text-align:justify;
    padding-top:10px;
    padding-left:10px;
    padding-right:10px;
    padding-bottom:10px;
}