<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title style="font-size: large;">
      ¡DIOS TE BENDIGA!
    </ion-title> 
  </ion-toolbar>
</ion-header>

<ion-content text-center class="page-tratado" [fullscreen]="true">
  <ion-list no-lines>                                                         
  <ion-item text-wrap>
    <div style="text-align:center;width:100%;">
    <br/>
    <label style="color:auto;font-weight:bold;">Querido</label> amigo o amiga en este precioso día Dios está
    tocando la puerta de tu corazón. Él es caballeroso y espera que tú abras esa puerta para Él 
    poder entrar y hacer de ti un nuevo hombre o una nueva mujer para su gloria y honra. Amén.
    </div>   
    </ion-item> 
    <ion-item text-wrap>
      <div>
      </div>   
    </ion-item>
  
  <ion-item text-wrap>                                                       
    <div style="text-align:center;width:100%;"> 
   <label>
   He aquí, yo estoy a la puerta y llamo, si alguno oye mi voz, y abre la puerta entraré a él y 
   cenaré con él y él conmigo.
   </label>
   <br/>
   <label style="font-weight:bold;">Apocalipsis 3:20</label>  
    </div>                                                       
  </ion-item> 
  <ion-item text-wrap>
    <div>
    </div>   
  </ion-item>
  
  <ion-item text-wrap>                                                       
    <div style="text-align:center;width:100%;"> 
   <label>
   Venid luego, dice Jehová y estemos a cuenta; si vuestros pecados fueren como la grana,
   como la nieve serán emblanquecidos; si fueren rojos como el carmesí, vendrán a ser como 
   blanca lana.
   </label><br/>
   <label style="font-weight:bold;">Isaías 1:18</label> 
    </div>                                                       
  </ion-item> 
  <ion-item text-wrap>
    <div>
    </div>   
  </ion-item>
  
  <ion-item text-wrap>
    <div style="text-align:center;width:100%;font-weight:bold;">
    <label style="color:auto;text-decoration:underline;">¡HAY SALVACIÓN PARA TI!</label>
    </div>   
    </ion-item> 
  
    <ion-item text-wrap>
      DIOS TE AMA. 
      Porque de tal manera amó Dios al mundo, que ha dado a su hijo unigénito, para que todo aquel
      que en Él crea no se pierda, mas tenga vida eterna. Juan 3:16 
    </ion-item> 
  
  <ion-item text-wrap>
      DIOS DESEA BENDECIRTE 
      Yo he venido para que tengan vida, y la tengan en abundancia. Juan 10:10 
    </ion-item>
  
  <ion-item text-wrap>
      EL PECADO TE SEPARA DE DIOS 
      Por cuanto todos pecaron y están destituidos de la gloria de Dios. Romanos 3:23 
    </ion-item>
  
  <ion-item text-wrap>
      EL PECADO TRAE LA MUERTE 
      Porque la paga del pecado es muerte, mas la dádiva de Dios es vida eterna en Cristo Jesús, 
    Señor nuestro. Romanos 6:23 
    </ion-item>
  
  <ion-item text-wrap>
      JESÚS MURIÓ POR TUS PECADOS 
      Mas Dios muestra su amor para con nosotros, en que siendo aun pecadores Cristo murió por
    nosotros. Romanos 5:8 
    </ion-item>
  
  <ion-item text-wrap>
      QUE SI CONFESARES CON TU BOCA QUE JESÚS 
      es el Señor, y creyeres en tu corazón que Dios le levantó de los muertos serás salvo. Romanos 10:9 
    </ion-item>
  
  <ion-item text-wrap>
      LA GRAN DECISIÓN: QUE RECIBAS A CRISTO COMO SALVADOR Y SEÑOR 
      Mas a todos los que le recibieron, a los que creen en su nombre les dio potestad de ser hechos 
    hijos de Dios. Juan 1:12 
    </ion-item>

  </ion-list>
</ion-content>